
.ds-sidebar {
    width: 25%;
    float: left;
    text-align: center;

}

.ds-main {
    width: 75%;
    float: left;
}

.ds-center-spacer {
    flex-grow: 1;
    border-bottom: 2px dotted black;
    margin: 0 4px 4px;
}

.ds-name {
    font-weight: bold;
    font-size: 120%;
    display: flex;
}

.ds-right {
    text-align: right;
}

.ds-table{
    width: 100%;
    text-align: center;

}

.ds-table-name {
    width: 30%;
    text-align: left;

}